/* SignUp.css */

.sign-up-container {
    background: #cacaca25;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 300px;
    margin: 80px auto;
    text-align: center; /* Center align the content */
  }
  
  .user-icon2 {
    background-color: rgb(0, 170, 9);
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 1000000px;
    width: 50px;
    margin-left: 110px;
  }
  
  .sign-up-title {
    margin-bottom: 30px;
    color: #333;
  }
  
  .sign-up-form {
    display: flex;
    flex-direction: column;
  }
  
  .sign-up-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
  }
  
  .sign-up-button {
    background-color: rgb(0, 170, 9); /* Adjust the color to match the screenshot */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .sign-up-button:hover {
    background-color: #e33e3e;
  }
  